<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Pin</title>
</head>
<body>
    <h1>Reset Pin</h1>
    <form method="post">
        <label for="npin">Enter the new pin:</label>
        <input type="password" name="npin">
        <br><br>
        <label for="cpin">Confirm the new pin:</label>
        <input type="password" name="cpin">
        <br><br>
        <input type="submit" value="Update">
    </form>
    <h3>{{info}}</h3>
</body>
</html>